{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>云端留言板(1)首页</title>
    <script src={% static 'jquery-3.3.1.js' %}></script>
</head>
<body>
<h1>提交留言功能区</h1>
<form action="/msggate/" method="post">
    {% csrf_token %}
    发送方<input type="text" name="UserA"/> <br>
    接收方<input type="text" name="UserB"/> <br>
    消息文<input type="text" name="msg"/> <br>
    <input type="submit" value="留言提交">
</form>
<h1>获取留言信息</h1>
接收方<input type="text" name="userC"/> <br>
<button onclick="displayUnreadMsg()">未读留言</button>
<button onclick="displayAllMsg()">所有留言</button>
<button onclick="clearMsg()">清除</button>
<table border="1">
    <thead>
    {% for header in data %}
        <th>{{ header }}</th>
    {% endfor %}
    {#    <th>留言时间</th>#}
    {#    <th>留言来源</th>#}
    {#    <th>留言信息</th>#}
    </thead>
    <tbody>
    {#    {% for line in data %}#}
    {#        <tr>#}
    {#            <td>{{ line.time }}</td>#}
    {#            <td align="center">{{ line }}</td>#}
    {#            <td> {{ line.model }} </td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
    </tbody>
</table>
</body>
<script>
    function displayAllMsg() {
        console.log("enter display function");
        let receiver = $("input[name='userC']").val();
        {#alert(receiver);#}
        $.ajax({
            url: "/msggate/ajax/" + receiver + "/all",
            type: 'GET', //GET
            async: true,    //或false,是否异步
            timeout: 50000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                let records = JSON.parse(data);
                console.log(records);
                refresh_tbody(records)
            }
        })
    }

    function displayUnreadMsg() {
        console.log("enter display function");
        let receiver = $("input[name='userC']").val();
        {#alert(receiver);#}
        $.ajax({
            url: "/msggate/ajax/" + receiver + "/unread",
            type: 'GET', //GET
            async: true,    //或false,是否异步
            timeout: 50000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                let records = JSON.parse(data);
                console.log(records);
                refresh_tbody(records)
            }
        })
    }

    function refresh_tbody(records) {
        let table = document.getElementsByTagName("table")[0];
        let old_tbody = document.getElementsByTagName("tbody")[0];
        let tbody = document.createElement("tbody");
        for (let i = 0; i < records.length; i++) {
            console.log(records[i].fields);
            let msg_dict = records[i].fields;
            let time = records[i].pk;
            let sender = msg_dict['sender'];
            let receiver = msg_dict['receiver'];
            let message = msg_dict['message'];

            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            td1.innerHTML = time;
            let td2 = document.createElement("td");
            td2.innerHTML = sender;
            let td3 = document.createElement("td");
            td3.innerHTML = message;
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tbody.appendChild(tr);
        }
        table.replaceChild(tbody, old_tbody);
        console.log("message retrieval complete");
    }

    function clearMsg() {
        let table = document.getElementsByTagName("table")[0];
        let old_tbody = document.getElementsByTagName("tbody")[0];
        let tbody = document.createElement("tbody");
        table.replaceChild(tbody, old_tbody);
        console.log("message cleared.");
    }

    window.onbeforeprint = function () {
        console.log('This will be called before the user prints.');
        console.log("enter display function");
        let receiver = $("input[name='userC']").val();
        {#alert(receiver);#}
        $.ajax({
            url: "/msggate/ajax/" + receiver + "/unread",
            type: 'GET', //GET
            async: true,    //或false,是否异步
            timeout: 50000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                let records = JSON.parse(data);
                console.log(records);
                refresh_tbody(records)
            }
        })
    }
    window.onafterprint = function () {
        console.log('This will be called after the user prints');
    }
</script>
</html>